*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* -------------------------header-------------------- */
header{
    background-image: url(img/Logo.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-size: cover;
}

header h1{
    font-weight: 600;
    font-size: 3.5rem;
    font-family: arial;
    margin-left: 85px;
}


/* -------------------------header end-------------------- */

/* -------------------------main-------------------- */
.content{
    width: 1320px;
    height: 700px;
    background-color: red;
    margin: auto;
    margin-top: 100px;
}


/* -------------------------main end-------------------- */